$primaryColor: #757575;

@import 'iconFonts';

body {
  margin: 0;
}

header {
  display: grid;
  grid: 1fr / 20px 1fr 20px;
  grid-column-gap: 25px;
  align-items: center;
  height: 48px;
  margin-bottom: 75px;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

  .appMenuBtn {
    display: inline-block;
    width: 24px;
    cursor: pointer;
    transition: 200ms;

    &:hover {
      background: $primaryColor;
    }

    &:hover .appMenuBtn__item {
      background: #FFFFFF;
    }

    .appMenuBtn__item {
      display: block;
      width: 18px;
      height: 3px;
      margin: 3px;
      transition: 200ms;
      background: $primaryColor;
    }
  }

  .mainTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
  }

  .sideMenu {
    align-self: center;
    width: 20px;
    height: 100%;
    cursor: pointer;
    transition: 200ms;
    background: url('../../assets/menu_icon.svg') no-repeat 50% 50%;

    &:hover {
      transform: rotate(90deg);
    }
  }
}

main {
  display: grid;
  grid: 1fr / 1fr minmax(600px, 100%) 1fr;
  padding: 0 30px;

  .toolsContainer {
    display: grid;
    grid: 1fr 1fr / 1fr;
    width: 228px;
    height: 100%;

    .toolsContainer__paintTools {
      height: 246px;
      border-radius: 5px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

      .toolsContainer__item {
        position: relative;
        overflow: hidden;
        margin: 22px 10px;
        padding: 5px;
        cursor: pointer;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: 200ms;
        border-radius: 5px;

        &:hover {
          background: $primaryColor;
        }

        &:hover a,
        &:hover span {
          color: #FFFFFF;
        }
      }

      .toolsContainer__item:nth-child(4) {
        cursor: not-allowed;

        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(255, 255, 255, 0.5);
        }
      }

      a {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: $primaryColor;
      }

      span {
        display: inline-block;
        font-family: 'Roboto', Arial, sans-serif;
        margin-left: 25px;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        color: $primaryColor;
      }
    }

    .toolsContainer__colorPicker {
      height: 246px;
      position: relative;
      border-radius: 5px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

      .color__item {
        display: block;
        font-family: 'Roboto', Arial, sans-serif;
        position: relative;
        position: relative;
        margin: 20px 10px;
        padding: 4px;
        cursor: pointer;
        user-select: none;
        transition: 200ms;
        color: $primaryColor;
        border: 1px solid transparent;
        border-radius: 5px;

        &:hover {
          border: 1px solid $primaryColor;
        }

        .circleColor {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          transform: translateY(5px);
          border: 1px solid #000000;
          border-radius: 50%;
        }
      }

      #red > span {
        background: #FF0000;
      }

      #blue > span {
        background: #0000FF;
      }
    }
  }

  .input-color-label {
    margin-left: 5px;
  }

  .canvasSection {
    justify-self: center;
    width: available;
    min-width: 600px;
  }

  canvas {
    width: 512px;
    height: 512px;
    margin: 50px;
    border: 1px $primaryColor solid;
    image-rendering: pixelated;
  }

  .input-color-container {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    transform: translateY(5px);
    border: solid 1px #000000;
    border-radius: 40px;
  }

  .input-color {
    width: 56px;
    height: 56px;
    position: absolute;
    top: -8px;
    right: -8px;
    border: none;
  }

  .input-color-label {
    font-family: Roboto;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    color: $primaryColor;
  }

  .sideBar {
    width: 228px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

    .sideBar__item {
      display: block;
      font-family: 'Roboto', Arial, sans-serif;
      font-size: 18px;
      position: relative;
      margin: 22px 5px;
      padding: 7px 7px 7px 50px;
      cursor: pointer;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      transition: 200ms;
      color: $primaryColor;
      border: 1px solid transparent;
      border-radius: 5px;

      &:hover {
        border: 1px solid $primaryColor;
      }

      &:hover input ~ .checkmark {
        background-color: #CCCCCC;
      }

      & input:checked ~ .checkmark {
        background-color: #2196F3;
      }

      & input:checked ~ .checkmark:after {
        display: block;
      }

      .checkmark {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 5px;
        left: 7px;
        transition: 200ms;
        border-radius: 50%;
        background-color: #EEEEEE;

        &:after {
          content: '';
          display: none;
          width: 8px;
          height: 8px;
          position: absolute;
          top: 9px;
          left: 9px;
          border-radius: 50%;
          background: white;
        }
      }

      input {
        position: absolute;
        cursor: pointer;
        opacity: 0;
      }
    }
  }
}

.active {
  background: lighten(#2196F3, 35%);
}
